# Netflix recommendation engine

Based on the [netflix prize dataset](https://www.kaggle.com/datasets/netflix-inc/netflix-prize-data). Our
goal is to build a recommendation engine.

## Importing the libraries

In [1]:
import polars as pl
import sqlite3

## Connect to database

Here we connect to the database `netflix_dev.db`. Currently, we are using a small portion of the whole dataset, around 100.000 / 100.000.000 Entries. This is due to the fact that the whole dataset is too big to be processed on a normal computer. We are using a sample of 100.000 entries to test our code and to get a first impression of the data. The sample is randomly chosen, so it is representative for the whole dataset.

- `netflix_data` contains the ratings from the netflix prize challenge.
- `movie_titles` contains the titles corresponding to the `film` column in `netflix_data`
- `combined` is a join of `netflix_data` and `movie_titles` over the `film` column.

In [4]:
db_path = 'netflix_dev.db'
db_conn = 'sqlite://' + db_path

In [6]:
netflix_data = pl.read_database("SELECT * FROM netflix_data", db_conn)
movie_titles = pl.read_database("SELECT * FROM movie_titles", db_conn)
combined     = pl.read_database("SELECT * FROM netflix_data, movie_titles \
                                  WHERE netflix_data.film = movie_titles.film", db_conn)

In [7]:
combined

shape: (100_000, 6)
┌───────┬─────────┬────────┬────────────┬──────┬───────────────────────────────────┐
│ film  ┆ user    ┆ rating ┆ date       ┆ year ┆ title                             │
│ ---   ┆ ---     ┆ ---    ┆ ---        ┆ ---  ┆ ---                               │
│ i64   ┆ i64     ┆ i64    ┆ str        ┆ str  ┆ str                               │
╞═══════╪═════════╪════════╪════════════╪══════╪═══════════════════════════════════╡
│ 12401 ┆ 993438  ┆ 2      ┆ 2005-04-15 ┆ 2000 ┆ Nico and Dani                     │
│       ┆         ┆        ┆            ┆      ┆                                   │
│ 14103 ┆ 328402  ┆ 4      ┆ 2005-04-17 ┆ 2004 ┆ The Notebook                      │
│       ┆         ┆        ┆            ┆      ┆                                   │
│ 13691 ┆ 1555660 ┆ 4      ┆ 2004-11-15 ┆ 1949 ┆ The Adventures of Ichabod and Mr… │
│       ┆         ┆        ┆            ┆      ┆                                   │
│ 11607 ┆ 1281112 ┆ 5      ┆ 2005-05-05 ┆ 2005 ┆ Hotel Rwanda                      │
│       ┆         ┆        ┆            ┆      ┆                                   │
│ …     ┆ …       ┆ …      ┆ …          ┆ …    ┆ …                                 │
│ 13748 ┆ 536263  ┆ 5      ┆ 2005-05-18 ┆ 1996 ┆ The First Wives Club              │
│       ┆         ┆        ┆            ┆      ┆                                   │
│ 13517 ┆ 21823   ┆ 3      ┆ 2003-09-25 ┆ 2000 ┆ Happenstance                      │
│       ┆         ┆        ┆            ┆      ┆                                   │
│ 5894  ┆ 1107428 ┆ 4      ┆ 2005-03-01 ┆ 1993 ┆ Hard Target                       │
│       ┆         ┆        ┆            ┆      ┆                                   │
│ 15205 ┆ 749553  ┆ 5      ┆ 2005-05-24 ┆ 2004 ┆ The Day After Tomorrow            │
│       ┆         ┆        ┆            ┆      ┆                                   │
└───────┴─────────┴────────┴────────────┴──────┴───────────────────────────────────┘

## Run some queries

Now we run some queries on the data.
- `top_100` contains the 100 most rated movies.
- `best_rated` contains the 100 best rated movies that have at least 50 ratings.
- `not_rated` contains all movies that have no ratings.

In [8]:
top_100 = pl.read_database("SELECT netflix_data.film, movie_titles.title, COUNT(*) AS 'num_ratings', AVG(netflix_data.rating) AS 'avg_rating' \
                            FROM netflix_data, movie_titles \
                            WHERE netflix_data.film = movie_titles.film \
                            GROUP BY netflix_data.film, title \
                            ORDER BY COUNT(*) DESC \
                            LIMIT 100 \
                            ", db_conn)

top_100

shape: (100, 4)
┌───────┬────────────────────────┬─────────────┬────────────┐
│ film  ┆ title                  ┆ num_ratings ┆ avg_rating │
│ ---   ┆ ---                    ┆ ---         ┆ ---        │
│ i64   ┆ str                    ┆ i64         ┆ f64        │
╞═══════╪════════════════════════╪═════════════╪════════════╡
│ 5317  ┆ Miss Congeniality      ┆ 233         ┆ 3.549356   │
│ 15124 ┆ Independence Day       ┆ 220         ┆ 3.736364   │
│ 15205 ┆ The Day After Tomorrow ┆ 212         ┆ 3.476415   │
│ 11283 ┆ Forrest Gump           ┆ 199         ┆ 4.351759   │
│ …     ┆ …                      ┆ …           ┆ …          │
│ 13462 ┆ The General's Daughter ┆ 119         ┆ 3.268908   │
│ 1307  ┆ S.W.A.T.               ┆ 118         ┆ 3.322034   │
│ 3151  ┆ Napoleon Dynamite      ┆ 118         ┆ 3.381356   │
│ 8644  ┆ Catch Me If You Can    ┆ 118         ┆ 3.771186   │
└───────┴────────────────────────┴─────────────┴────────────┘

In [9]:
best_rated = pl.read_database("SELECT netflix_data.film, movie_titles.title, COUNT(*) AS 'num_ratings', AVG(netflix_data.rating) AS 'avg_rating' \
                                FROM netflix_data, movie_titles \
                                WHERE netflix_data.film = movie_titles.film \
                                GROUP BY netflix_data.film, title \
                                HAVING num_ratings > 50 \
                                ORDER BY AVG(netflix_data.rating) DESC \
                                LIMIT 100", db_conn)

best_rated

shape: (100, 4)
┌───────┬───────────────────────────────────┬─────────────┬────────────┐
│ film  ┆ title                             ┆ num_ratings ┆ avg_rating │
│ ---   ┆ ---                               ┆ ---         ┆ ---        │
│ i64   ┆ str                               ┆ i64         ┆ f64        │
╞═══════╪═══════════════════════════════════╪═════════════╪════════════╡
│ 14961 ┆ Lord of the Rings: The Return of… ┆ 83          ┆ 4.759036   │
│ 5582  ┆ Star Wars: Episode V: The Empire… ┆ 98          ┆ 4.704082   │
│ 7230  ┆ The Lord of the Rings: The Fello… ┆ 74          ┆ 4.702703   │
│ 7057  ┆ Lord of the Rings: The Two Tower… ┆ 75          ┆ 4.626667   │
│ …     ┆ …                                 ┆ …           ┆ …          │
│ 7511  ┆ Blade                             ┆ 72          ┆ 4.013889   │
│ 8915  ┆ Terminator 2: Extreme Edition     ┆ 76          ┆ 4.013158   │
│ 13302 ┆ Blazing Saddles                   ┆ 78          ┆ 4.012821   │
│ 571   ┆ American Beauty                   ┆ 160         ┆ 4.0125     │
└───────┴───────────────────────────────────┴─────────────┴────────────┘

In [10]:
not_rated = pl.read_database("SELECT movie_titles.film, movie_titles.title \
                                FROM movie_titles \
                                WHERE movie_titles.film NOT IN (SELECT film FROM netflix_data)",  db_conn)

not_rated

shape: (8_535, 2)
┌───────┬───────────────────────────────────┐
│ film  ┆ title                             │
│ ---   ┆ ---                               │
│ i64   ┆ str                               │
╞═══════╪═══════════════════════════════════╡
│ 4     ┆ Paula Abdul's Get Up & Dance      │
│ 5     ┆ The Rise and Fall of ECW          │
│ 7     ┆ 8 Man                             │
│ 9     ┆ Class of Nuke 'Em High 2          │
│ …     ┆ …                                 │
│ 17757 ┆ Ulysses S. Grant: Warrior / Pres… │
│ 17760 ┆ Lightning Bug                     │
│ 17765 ┆ Godzilla's Revenge                │
│ 17766 ┆ Where the Wild Things Are and Ot… │
└───────┴───────────────────────────────────┘