In [8]:
import polars as pl
import re
from tqdm import tqdm
import pandas as pd
import sqlite3 as db

In [11]:
combined_data_files = [
    r"data/combined_data_1.txt",
    r"data/combined_data_2.txt",
    #r"data/combined_data_3.txt",
    #r"data/combined_data_4.txt"

]

results = []
current_film = None
con = db.connect('netflix.db')

for file in combined_data_files[2:]:

    with open(file, "r") as file:
        lines = file.readlines()
        for line in tqdm(lines):
            if re.match(r"\d*:", line):
                current_film = int(line.strip()[:-1])
            else:
                vals = line.split(",")
                user = int(vals[0])
                rating = int(vals[1])
                date = vals[2]
                results.append([current_film, user, rating, date])
    print("Creating dataframe")
    data = pd.DataFrame(results, columns=["film", "user", "rating", "date"])
    print("Saving to DB")
    data.to_sql('netflix_data', con, if_exists='append', index=False)
    results = []

In [16]:
con = db.connect('netflix.db')
# sql query that samples 1000 rows from the table
data = pd.read_sql_query("SELECT * FROM movie_data.csv ORDER BY RANDOM() LIMIT 100000", con)

DatabaseError: Execution failed on sql 'SELECT * FROM movie_data.csv ORDER BY RANDOM() LIMIT 100000': no such table: movie_data.csv

In [ ]:
con = db.connect('netflix_dev.db')
data.to_sql('netflix_data', con, if_exists='append', index=False)

NameError: name 'data' is not defined

In [ ]:
file_movies = r"data/movie_titles.csv"
results = []

with open(file_movies, "r") as file:
    lines = file.readlines()
    for line in tqdm(lines):
        vals = line.split(",", 2)
        film = int(vals[0])
        year = vals[1]
        title = vals[2]
        results.append([film, year, title])

In [19]:
# import the dataset
import pandas as pd
movies_df = pd.read_csv('data\movie_data.csv')
titles_df = pd.read_csv('data\movie_titles.csv')

ParserError: Error tokenizing data. C error: Expected 6 fields in line 4, saw 18